abbr {
	display: inline;
	position: relative;
}

abbr:hover:after {
	background: var(--color-code-background);
	border-radius: 5px;
	bottom: 26px;
	color: var(--color-code-text);
	content: attr(data-title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	font-size: $font-size-body;
	font-weight: normal;
	word-wrap: normal;
	word-break: keep-all;
	white-space: nowrap;
}

abbr:hover:before{
	border: solid;
	border-color: var(--color-code-background) transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}