.archives-type-terms
{
  margin: 1.5em 0;

  h1
  {
    margin: 0;
    font-size: inherit;

    .body-archive & {
      display: none;
    }
  }
  
  ul.list-terms
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: $line-height-li;

    li
    {
      display: inline;
      margin: 0 0.5em 0 0;
      word-wrap: normal;
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}

body.body-archive {
  #main > .entry {
    @include content-description;
  }
}
