.entry {
  &.entry-format-link {
    .entry-title {
      display: inline;
    }
    
    .read-more {
      display: inline;

      a {
        color: var(--color-meta-text);

        &:hover {
          color: var(--color-meta-text);
        }
      }
    }

    .entry-meta {
      display: none;
    }

    @include desktop {
      float: left;
      width: 47.5%;
      margin: 0 0 0 5%;

      &:nth-child(2n+1) {
        clear: both;
        margin-left: 0;
      }

      .entry-title img {
        width: 100%;
        display: block;
      }
    }
  }
}