.entry {
  &.entry-format-link {
    .entry-title {
      display: inline;
    }
    
    .read-more {
      display: inline;

      a {
        color: var(--color-meta-text);

        &:hover {
          color: var(--color-meta-text);
        }
      }
    }

    .entry-meta {
      display: none;
    }

    @include desktop {
      width: 47.5%;
      margin: 0;

      &:nth-child(2n+0) {
        float: left;
        clear: both;
      }

      &:nth-child(2n+1) {
        float: right;
      }

      .entry-title img {
        width: 100%;
        display: block;
      }
    }
  }
}