.entry {
  &.entry-format-site {
    float: left;
    width: 45%;
    margin: 0;
    padding: 0;

    &:nth-child(2n+1) {
      padding: 2.5%;
    }

    .entry-title {
      display: inline;
    }
    
    .read-more {
      display: inline;

      a {
        color: var(--color-meta-text);

        &:hover {
          color: var(--color-meta-text);
        }
      }
    }

    .entry-meta {
      display: none;
    }
  }
}