---
---
{% assign body_class = "body-archive body-archive-category" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext.html %}

{% assign archiveName = post.title %}
{% assign writes = site.entry_writes | where_exp: "post", "post.categories contains archiveName" | default: "" %}
{% assign reads = site.entry_reads | where_exp: "post", "post.categories contains archiveName" | default: "" %}
{% assign terms = site.entry_terms | where_exp: "post", "post.categories contains archiveName" | default: "" %}
{% if writes == "" %}{% assign writes = "" | split: "" %}{% endif %}
{% if reads == "" %}{% assign reads = "" | split: "" %}{% endif %}
{% if terms == "" %}{% assign terms = "" | split: "" %}{% endif %}
{% assign posts = writes | concat: reads | concat: terms | sort: "date" | reverse %}
{% include list-posts.html %}

{% assign posts = site.entry_links | where_exp: "post", "post.categories contains archiveName" | sort_natural: "slug" %}
{% assign postsName = site.data.keywords.types.links %}
{% include list-links.html %}

{% include base-footer.html %}