---
---
{% assign body_class = "body-archive body-archive-category" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext.html %}

{% assign archiveName = post.title %}

{% assign posts1 = site.entry_journals | where_exp: "post", "post.categories contains archiveName" %}
{% assign posts2 = site.entry_objects | where_exp: "post", "post.categories contains archiveName" %}
{% assign posts3 = site.entry_terms | where_exp: "post", "post.categories contains archiveName" %}
{% assign posts = posts1 | concat: posts2 | concat: posts3 | sort_natural: "date" | reverse %}
{% include list-posts.html %}

{% assign posts = site.entry_links | where_exp: "post", "post.categories contains archiveName" | sort_natural: "slug" %}
{% assign postsName = site.data.keywords.links %}
{% include list-links.html %}

{% include base-footer.html %}