---
---
{% assign body_class = "body-archive body-archive-tag" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext.html %}

{% assign archiveName = post.title %}

{% assign tags = site.archive_tags | where_exp: "post", "post.tags contains archiveName" | default: "" %}
{% if tags == "" %}{% assign tags = "" | split: "" %}{% endif %}
{% assign posts = tags | sort: "title" %}
{% include list-posts-as-tags.html %}

{% assign writes = site.entry_writes | where_exp: "post", "post.tags contains archiveName" | default: "" %}
{% assign reads = site.entry_reads | where_exp: "post", "post.tags contains archiveName" | default: "" %}
{% assign terms = site.entry_terms | where_exp: "post", "post.tags contains archiveName" | default: "" %}
{% if writes == "" %}{% assign writes = "" | split: "" %}{% endif %}
{% if reads == "" %}{% assign reads = "" | split: "" %}{% endif %}
{% if terms == "" %}{% assign terms = "" | split: "" %}{% endif %}
{% assign posts = writes | concat: reads | concat: terms %}
{% assign posts = posts | sort: "updated" | reverse %}
{% include list-posts.html %}

{% include base-footer.html %}
