---
---
{% assign body_class = "body-archive body-archive-year" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext.html %}

{% assign archiveName = post.title | to_i | plus: 0 %}
{% assign journals = site.entry_journals | where_exp: "post", "post.years contains archiveName" | default: "" %}
{% assign objects = site.entry_objects | where_exp: "post", "post.years contains archiveName" | default: "" %}
{% assign terms = site.entry_terms | where_exp: "post", "post.years contains archiveName" | default: "" %}
{% if journals == "" %}{% assign journals = "" | split: "" %}{% endif %}
{% if objects == "" %}{% assign objects = "" | split: "" %}{% endif %}
{% if terms == "" %}{% assign terms = "" | split: "" %}{% endif %}
{% assign posts = journals | concat: objects | concat: terms %}
{% assign posts = posts | sort: "updated" | reverse %}
{% include list-posts.html %}

{% include base-footer.html %}
